:root {
    /* FONT */
    --text-main:"montserrat";
    --text-other:"bodoni moda";

    /* COLORS */
    --background: #f8f8f8;
    --primary: #fff;
    --secondary: #E9EBDF;
    --third: #F2ECE6;
    --disabled: #A49DA2;
    --font-one: #333;
    --error: rgb(207, 7, 7);
}